<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbass</title>

    <!-- Include Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
</head>
<body class="bg-gray-100">
    <%- include("./partials/navbar.ejs") %>
    
    <div class="container mx-auto mt-8">
        <div class="flex flex-row mb-5 justify-between">
            <h1 class="text-3xl font-bold mb-6">Latest Blog Posts</h1>

            <div class="flex flex-row gap-4 items-center">
                <a href="/" class="px-5 py-2  font-semibold rounded-md bg-yellow-300">Public API POSTS </a>
                <a href="/our_posts" class="px-5 py-2 font-semibold rounded-md  bg-green-300">OUR POSTS</a>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            <% blogs.forEach(blog => { %>
                <div class="bg-white p-4 rounded-md shadow-md">
                    <a href="/blogs/<%= blog.id %>">
                        <img src="<%= blog.photo_url %>" alt="<%= blog.title %>" class="w-full h-32 object-cover mb-4">
                    </a>
                    <h2 class="text-lg font-semibold mb-3"><%= blog.title %></h2>
                    <div class="flex flex-col mb-4">
                        <%   function formatDate(dateString) {
                            const options = { day: 'numeric', month: 'short' };
                            const date = new Date(dateString);
                            return date.toLocaleDateString('en-US', options);
                        } %>
                        <p class="text-gray-700 text-xs ">Category: <%= blog.category %></p>
                        <p class="text-gray-700 text-xs  ">posted at .  <%- formatDate(blog.created_at) %></p>
                    </div>
                    <p class="text-gray-700 mb-2"><%= blog.description %></p>

                </div>
            <% }); %>
        </div>

    </div>

  
</body>
</html>
