<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %> - blog Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css">
    <style>
        body {
            background-color: #fff;
            color: #000;
        }

        .bg-gray-100 {
            background-color: #fff;
        }

        .bg-white {
            background-color: #fff;
        }

        .text-gray-700 {
            color: #000;
        }

        .text-white {
            color: #fff;
        }

        .text-green-700 {
            color: #00a859;
        }

        .text-red-700 {
            color: #e53e3e;
        }

        .text-yellow-500 {
            color: #f59e0b;
        }

        .text-blue-700 {
            color: #3b82f6;
        }

        .text-indigo-700 {
            color: #6366f1;
        }

        .text-purple-700 {
            color: #9333ea;
        }
    </style>
</head>
<body class="bg-gray-100 p-8">

    <div class="max-w-2xl w-full mx-auto bg-white p-4 rounded shadow">


        <!-- blog Details -->
        <div>
            <h1 class="text-2xl font-bold mb-2"><%= blog.title %></h1>
         
            <div class="h-96 w-full">
                <img src="<%= blog.photo_url %>" class="h-full w-full" alt="">
            </div>
            <div class="flex mt-5 items-center ">
                <span class="text-gray-700">Category :</span>
                <span class="  ml-2"><%= blog.category %></span>
            </div>
            <div class="flex flex-row items-center mb-4">
                <span class="text-gray-700">Description: </span>
                <span class=" text-sm ml-2"><%= blog.description %></span>
            </div>

            <p class="text-gray-600 mb-4">Content: <%- blog.content_html %></p>

            <!-- Other blog details... -->

         
          
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1"></script>
    <script>
        new Glide('#blogCarousel', {
            type: 'carousel',
            startAt: 0,
            perView: 1,
            focusAt: 'center',
            gap: 0
        }).mount();
    </script>

</body>
</html>
